<div class="jumbotron text-center">
  <h1 class="display-4">Welcome to MakeNotes</h1>
  <p class="lead">Make note of anything that you want to.</p>
  <p class="lead">
    <a href="/notes/create" class="btn btn-primary">Create a Note</a>
  </p>
</div>